# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
  email = {{ .email }}
[alias]
  st = status
  ci = commit
  graph = log --oneline --graph --decorate
  sg = diff --staged
  lp = log --pretty=oneline
  co = checkout
  br = branch
[push]
	autoSetupRemote = true
